html
    head
        title="Questionnaire"
        link(href="/styles/styles.css",type="text/css",rel="stylesheet")
    body
        div(class="titleDiv")
            h1="Questionnaire"
        div(class="navDiv")
            ul(class="navList")
                li(class="navItemLeft")
                    a(href="/", class="navLink")="Home"
                li(class="navItemLeft")
                    a(href="/viewusers", class="navLink")="View Users"
                li(class="navItemRight")
                    a(href="/register", class="navLink")="Register"                    
                li(class="navItemRight")
                    a(href="/login", class="navLink")="Login"                          
    block content