extends layout.pug

block content
    div()
        each user in rawr
            div()
                div(class='card')
                    #table-wrapper
                        table#desc
                            tr
                            th User
                            tr
                            td= "Username: " + user.username
                            tr
                            tr
                            td= "User Level: " + user.user_level
                            tr
                            tr
                            td= "Email: " + user.email
                            tr
                            tr
                            td= "Age: " + user.age
                            tr
                            tr
                            td= "Flavor: " + user.answer1
                            tr
                            tr
                            td= "Message Preference: " + user.answer2
                            tr
                            tr
                            td= "Season: " + user.answer3
                            tr    
                            td(height='25px')
                        table
                            tr
                            th Current Status
                            tr
                            td= user.status
                            tr
                            tr
                        table(class="links")
                            tr
                            a(href="http://localhost:3000/admin/user/"+user.username+"/activate" id="activate")="Activate"    
                            tr
                            a(href="http://localhost:3000/admin/user/"+user.username+"/suspend" id="suspend")="Suspend"
                            tr